.section-document {
  &-three {
    
    
    .bls-accordion__heading {
      background: none;
      border-radius: 0;
      border-bottom: solid 2px $secondary-color;
      color: $secondary-color;
      padding-left: 0;

      &::before {
        right: 0;
        border-top-color: $secondary-color;
      }
    }

    .bls-panel {
      padding: 0;
      border: 0;
      & + .bls-accordion__heading {
        margin-top: 15px;
      }
    }

    .table {
      &-options {
        margin-bottom: 20px;
        .table-cell {
          width: calc(100% / 3);
          padding: 15px;
        }

      }
      &-row {
        display: flex;
        justify-content: flex-start;
        border-bottom: solid 2px $grey-sequence-1;
        
        &.table-head {
          background: $grey-sequence-1;
          font-weight: 700;
        }
      }
    }

    strong {
      color: $border-primary-color;
      text-decoration: underline;
    }
  }
}