.container
  nav.sub-navigation.list__button
    ul
      li
        a.btn.btn-primary(href='accordion.html', title='Accordion') Collapse - Accordion
      li
        a.btn.btn-primary(href='calendar.html', title='Calendar') Calendar
      li
        a.btn.btn-primary(href='carousel.html', title='Carousel') Carousel
      li
        a.btn.btn-primary(href='countdown.html', title='Countdown') Countdown
      li
        a.btn.btn-primary(href='coverflow.html', title='Coverflow') Coverflow
      li
        a.btn.btn-primary(href='dropdown.html', title='Dropdown') Dropdown
      li
        a.btn.btn-primary(href='gallery.html', title='Gallery') Gallery
      li
        a.btn.btn-primary(href='free_arrange.html', title='Free Arrange') Free Arrange
      li
        a.btn.btn-primary(href='lazy.html', title='Lazy load') Lazy Load
      li
        a.btn.btn-primary(href='modal.html', title='Modal') Modal
      li
        a.btn.btn-primary(href='progress.html', title='Progress') Progress
      li
        a.btn.btn-primary(href='scripts.html', title='Scripts') Scripts
      li
        a.btn.btn-primary(href='scroll.html', title='Custom Scrollbar') Custom Scrollbar
      li
        a.btn.btn-primary(href='selection.html', title='Selection') Selection
      li
        a.btn.btn-primary(href='tabs.html', title='Tabs') Tabs
      li
        a.btn.btn-primary(href='validate.html', title='Validate') Validate
      li
        a.btn.btn-primary(href='video.html', title='Video') Video
      li
        a.btn.btn-primary(href='truncatehtml.html', title='truncatehtml') truncate HTML