extends ../layouts/layout

block vars
  - title = "BrayLeinoSplash Starter Kit";
  - keyword = "Splash, BrayLeino";
  - description = "BrayLeinoSplash Starter Kit - Pug/Sass/ES6 - webpack";
  - menuIndex = 2

block container
  section.section-nav
    include ../shared/demo_nav
  section.section-one
    .container
      h1 Dropdown
  section.section-two
    .container
      h2.heading I - Default Setting
      form.form-demo(action="#")
        .form-group
          .bls-form-control.bls-dropdown
            button.bls-dropdown__button.btn.btn-primary(type='button', title='Dropdown', data-bls-dropdown) Dropdown
            ul.bls-dropdown__menu(data-bls-dropdown)
              li Menu item 1
              li Menu item 2
              li Menu item 3
              li Menu item 4
              li Menu item 5
            button.btn.btn-secondary#destroy(type='button', title='Destroy') Destroy
        .form-group
          h6 HTML
          textarea.text-codemirror(cols="30", rows="10", data-code='text/html')
        .form-group
          h6 Javascript
          textarea.text-codemirror(cols="30", rows="10", data-code='text/javascript')