nav.nav-main
  ul.nav-main__menu
    li(class=menuIndex===0?'active':'')
      a.nav-main__link(href='index.html', title='About') About
    li(class=menuIndex===1?'active':'')
      a.nav-main__link(href='document.html', title='Document') Document
    li(class=menuIndex===2?'active':'')
      a.nav-main__link(href='accordion.html', title='Demo') Demo